body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

#search {
    text-align: center;
    margin-top: 20px;
}

#ingredients {
    padding: 10px;
    width: 300px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
}

#results {
    margin-top: 20px;
}